<p class="section__text__p1">Browse My Recent</p>
<h1 class="title">Projects</h1>

<!-- menu to operate project categories -->

<div class="scrollable-tabs-container" id="tabs-scroll-container">

    <ul id="project-tabs">
        <!-- dynamically tabs will be loaded -->
    </ul>

</div>

<!-- project cards  -->

<div class="project-content-box">

    <!-- projects -->
    <div class="project-content active">

        <div class="experience-details-container"> <!-- columns -->

            <div id="project-card" class="article-container"> <!-- rows -->

                <!-- project cards -->
            
            </div>

        </div>
    
    </div>

</div>