/* following code means: when ever screen size is lower than 1200 px then 
descktop-navigation will gona disappear instead we want to show hamburger menu*/

@media screen and (max-width: 1440px) {
    .libraries-box{
      height: 161px;
      margin-bottom: 30px;
    }
    .program-lang-box{
      height: 161px;
    }
    .text-box-vs{
      display: flexbox;
    }
   }

@media screen and (max-width: 1425px) {
    .aws-box{
        height: 225px;
    }
}


@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }
  
}

@media screen and (max-width: 1200px){

    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    
    #profile, 
    .section-container {
      display: block;
    }

    section, 
    .section-container {
      height: fit-content;
    }

    section {
      margin: 0 5%;
    }

    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }

    .about-containers {
      margin-top: 0;
    }
}

@media screen and (max-width: 600px){

  section {
    padding-top: 50vh;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  article {
    font-size: 1rem;
  }


  .about-containers, .contact-info-upper-container, .btn-container {
    flex-wrap: wrap;
  }

  #contact,
  footer {
    height: 90vh;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
}