<nav id="hamburger-navbar-container">

    <!-- Ham Navbar -->
    <div class="ham-navbar" aria-label="Open Menu">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- Dropdown Slide -->
    <div class="slide" aria-hidden="true">
        <h1>MENU</h1>
        <ul>
            <li><a id="ham-profile-section" data-scroll="#profile"><h2>Home</h2></a></li>
            <li><a id="ham-about-section" data-scroll="#about"><h2>About</h2></a></li>
            <li><a id="ham-project-section" data-scroll="#project"><h2>Projects</h2></a></li>
            <!-- <li><a id="ham-publish-section" data-scroll="#publication"><h2>Publications</h2></a></li> -->
            <li><a id="ham-certificate-section" data-scroll="#certificates"><h2>Certifications</h2></a></li>
            <!-- <li><a id="ham-blog-section" data-scroll="#blog"><h2>Blogs</h2></a></li> -->
            <li><a id="ham-contact-section" data-scroll="#contact"><h2>Contact</h2></a></li>
        </ul>
    </div>
    
</nav>