body {
    background-color: var(--bg);
    font-family: var(--body-font);
}

body.no-scroll {
  overflow: hidden;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

p {
    color: rgb(85, 85, 85);
}

/*Button transition : this teansition is for buttons*/
a,
.btn{
    transition: all var(--transition);
}

a:hover,
.btn:hover{
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    /* color: gray; */
    color: rgb(69, 53, 250);
    /* text-decoration: underline; */
    /* text-underline-offset: 1rem; */
    /* text-decoration: none; */
    transform: scale(1.1);
    text-decoration-color: rgb(181, 181, 181);
}

.container {
  width: 90%;
  margin: 0 auto;
}

  /*-------------------*/
 /* Section Container */
/*-------------------*/

section {
    padding-top: 5vh; /*space between each sections */
    height: 96vh; 
    margin: 0 10rem; /* margin: top-bottom on-sides */
    box-sizing: border-box; /* border to bax*/
    min-height: fit-content; /*make sures that things are not over lapping on each other*/
    /* border: #000000 1px solid; */
}

.section-container {
    display: flex;
}


   /*-----------------*/
  /* Profile Section */
 /*-----------------*/

#profile {
    padding-top: 13rem;
    padding-bottom: 10rem;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

#profile .section__pic-container img {
    border-radius: 60%;
    border: #000000 1px solid;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 7.5rem;
    height: 80vh; 
}

    .profile-texts p {
        color: #303633;
    }

    .section__pic-container { /*profile image*/
        display: flex;
        height: 450px;
        /* width: 450px; */
        margin: auto 0;
        margin-left: 10px;
    }

    .section__text {
        align-self: center;
        text-align: center;
    }

    .section__text p {
        font-weight: 600;
    }

    .section__text__p1 {
        text-align: center;
    }

    .section__text__p2 {
        font-size: 1.75rem;
        /* margin-bottom: 0.5rem; */
    }

    .section__text__p3 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .title {
        font-size: 3rem;
        text-align: center;
        /* padding-bottom: 1rem; */
    }

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

    /*-------*/
    /* ICONS */
    /*-------*/

    .icon {
        cursor: pointer;
        height: 2rem;
    }

    /*---------*/
    /* BUTTONS */
    /*---------*/

    .home-btn-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 0.5rem;
        /* border-top: 1px solid #ccc; */
    }

    .btn-1 {
    font-weight: 600;
        transition: all 300ms ease;
        padding: 1rem;
        width: 8rem;
        border-radius: 0.5rem;
    }

    .two-btn-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-top: 0.5rem;
        padding-left: 20px;    /* shortens border visually */
        padding-right: 20px;
        padding-bottom: 1rem;
        /* border-top: 1px solid #ccc; */
    }

    .btn-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        transition: all 300ms ease;
        padding: 1rem;
        width: 9rem; /* button width */
        border-radius: 0.5rem;
    }

    .three-btn-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-top: 0.4rem;
        padding-left: 20px;    /* shortens border visually */
        padding-right: 20px;
        padding-bottom: 1rem;
        /* border-top: 1px solid #ccc; */
    }

    .btn-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        transition: all 300ms ease;
        padding: 1rem;
        width: 6rem; /* button width */
        border-radius: 0.5rem;
    }

    /*--------------------*/
    /* Download CV Button */
    /*--------------------*/

    .download-btn-color {
        background-color: white;
        border: rgb(53, 53, 53) 0.1rem solid;
        color: black;
    }

    .download-btn-color:hover {
        cursor: pointer;
        background: rgb(53, 53, 53);
        border: rgb(255, 255, 255) 0.1rem solid;
        color: white;
    }

    /*---------------------*/
    /* Contact Info Button */
    /*---------------------*/

    .contact-btn-color {
        cursor: pointer;
        background: rgb(0, 0, 0);
        border: rgb(53, 53, 53) 0.1rem solid;
        color: white;
    }

    /*---------------*/
    /* Gtihub Button */
    /*---------------*/

    .github-btn-color {
        background: none;
        border: rgb(53, 53, 53) 0.1rem solid;
        color: black;
    }

    .github-btn-color:hover {
        cursor: pointer;
        background: rgb(53, 53, 53);
        border: rgb(255, 255, 255) 0.1rem solid;
        color: white;
    }

    /*--------------------*/
    /* Blog Button : front*/
    /*--------------------*/

    .front-blog-btn-color {
        background-color: white;
        border: rgb(53, 53, 53) 0.1rem solid;
        color: black;
    }

    .front-blog-btn-color:hover {
        cursor: pointer;
        background: rgb(2, 184, 117);
        border: rgb(255, 255, 255) 0.1rem solid;
        color: white;
    }

    /*-------------------*/
    /* Blog Button : back*/
    /*-------------------*/

    .back-blog-btn-color {
        background: none;
        border: rgb(255, 255, 255) 0.1rem solid;
        color: black;
    }

    .back-blog-btn-color:hover {
        cursor: pointer;
        background: rgb(2, 184, 117);
        border: rgb(255, 255, 255) 0.1rem solid;
        color: white;
    }

    /*-------------*/
    /* Demo Button */
    /*-------------*/

    .demo-btn-color {
        background-color: white;
        border: rgb(53, 53, 53) 0.1rem solid;
        color: black;
    }

    .demo-btn-color:hover {
        cursor: pointer;
        background: rgb(254, 0, 0);
        border: rgb(255, 255, 255) 0.1rem solid;
        color: white;
    }

    /*--------------*/
    /* Model Button */
    /*--------------*/

    .model-btn-color {
        background: none;
        border: rgb(255, 255, 255) 0.1rem solid;
        color: black;
    }

    .model-btn-color:hover {
        cursor: pointer;
        background: rgb(67, 32, 148);
        border: rgb(255, 255, 255) 0.1rem solid;
        color: white;
    }

    /*-------------*/
    /* Flip Button */
    /*-------------*/

    .flip-btn-color {
        background: none;
        border: rgb(255, 255, 255) 0.1rem solid;
        color: black;
    }

    .flip-btn-color:hover {
        cursor: pointer;
        background: rgb(53, 53, 53);
        border: rgb(255, 255, 255) 0.1rem solid;
        color: white;
    }
    
    /*-------------*/
    /* Docs Button */
    /*-------------*/

    .docs-btn-color {
        background: none;
        border: rgb(255, 255, 255) 0.1rem solid;
        color: rgb(0, 0, 0);
    }

    .docs-btn-color:hover {
        cursor: pointer;
        background:  #87CEEB;
        border: rgb(255, 255, 255) 0.1rem solid;
        color: white;
    }

    .btn-container {
        gap: 1rem;
    }


   /*---------------*/
  /* About Section */
 /*---------------*/

#about {
    position: relative;
    }

    .about-containers {
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .about-details-container {
        justify-content: center;
        flex-direction: column;
    }

    .about-containers, 
    .about-details-container {
        display: flex;
    }

    .about-pic {
        border-radius: 2rem;
    }

    .details-container {
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.8s;

        padding: 10px;
        flex: 1;
        background: white;
        border-radius: 2rem;
        /* border: black 1px solid; */
        border-color: rgb(163, 163, 163);
        /* border-color: rgb(0, 0, 0); */
        text-align: center;
        /* background: rgb(237, 250, 228); */
        background: rgb(244, 240, 255);
        box-shadow: rgba(174, 144, 250, 0.71) 0px 0px 30px 0px;
    }

    .details-container.flipped {
        transform: rotateY(180deg);
    }

    .section-container {
        gap: 4rem;
        height: 80%;
    }

    .section__pic-container {
        height: 400px;
        width: 400px;
        margin: auto 0;
    }

      /*-------------------------------------*/
     /* Tool and Technologies like Headings */
    /*-------------------------------------*/

    .text-box h2{
        margin: 10px;
        padding: 3px;
    }

      /*------------*/
     /* tool image */
    /*------------*/
    .tool_img img {
        width: 38px;
        margin-bottom: -12px;    
    }

    .br {
        display: none;
    }

/* certificates */
.cert_img{
    margin: 60px;
    padding: 60px;
    margin-top: 50px;
    margin-left: 370px;
}

.cert_img img{
    width: 640px;
}

.skl {
    margin-top: 420px;
    margin-left: 430px;
}

.cert-box{
    margin-left: 15px;
    margin-bottom: 45px;
    width: 400px;
    /* width: fit-content; */
    height: 175px;
    /* height: fit-content; */
    padding: 10px;
}

.first{
    display: flex;
}

/* SKILL SECTION*/

    .skills-section {
        padding: 40px 20px;
        max-width: 1200px;
        margin: 0 auto;
    }

  .section-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: 20px;
  }
  
  /* Skill Card */
  .skill-card {
    /* background: white; */
    border-radius: 12px;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.05); */
    transition: transform 0.3s ease;
    background: rgb(244, 240, 255);
    box-shadow: rgba(174, 144, 250, 0.71) 0px 0px 30px 0px;
  }
  
  .skill-card:hover {
    transform: translateY(-5px);
  }
  
  .skill-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    /* font-size: 1.4em; */
    color: #007acc;
  }
  
  /* Tools Grid Inside Each Card */
  .tools-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 14px; /*16px*/
    justify-content: flex-start;
  }
  
  /* Tool Item */
  .tool {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    color: #555;
  }
  
  .tool img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 6px;
    transition: transform 0.2s;
  }
  
  .tool:hover img {
    transform: scale(1.1);
  }