        <p class="section__text__p1">Get To Know More</p>
        <h1 class="title">About Me</h1>

        <!-- experience icon -->
        <div class="about-details-container">

            <!-- Container for cards -->
            <div class="about-containers">
                <!-- contsainer 1 -->
                <div class="details-container">
                    <img src="./assets/experience.png" alt="Experience icon" class="icon" />
                    <h3>Experience</h3>
                    <p>1.7 years<br />Data Scientist</p>
                </div>
                <!-- container 2 -->
                <div class="details-container">
                    <img src="./assets/education.png" alt="Education icon" class="icon" />
                    <h3>Education</h3>
                    <p>B.E (CS) <br />University of Mumbai</p>
                </div>
            </div>
            
            <!-- Container for text -->
             <br>
            <div class="text-container">
                <p style="text-align: justify;">
                    I’m Rahul Shelke, a skilled Data Scientist with hands-on experience in Python, NLP, and machine 
                    learning technologies. I specialize in developing advanced models and enhancing product functionality 
                    through data-driven solutions.
                </p>
                <br>
                <p>
                    With a strong academic foundation in Computer Science and Engineering from the University of Mumbai, 
                    and practical experience across diverse projects, I bring robust analytical and problem-solving skills to the 
                    table. I’m passionate about transforming data into actionable insights and am eager to contribute to 
                    cutting-edge projects within a dynamic, collaborative team environment.
                </p>
            </div>
            <br>
            <!-- tools and technologies -->
            <div class="text-box">
                <h2>Tools & Technologies</h2>
            </div>
        </div>

        <!-- Tools & Technologies -->
        <div class="skills-container">

            <!-- Data Collection -->
            <div class="skill-card">
                <h3>Data Collection</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/selenium.png" alt="Selenium"><span>Selenium</span></div>
                    <div class="tool"><img src="./assets/About/bs4.png" alt="Beautiful Soup"><span>BS4</span></div>
                    <div class="tool"><img src="./assets/About/sql.png" alt="SQL"><span>SQL</span></div>
                    <div class="tool"><img src="./assets/About/kafka.png" alt="Kafka"><span>Kafka</span></div>
                </div>
            </div>

            <!-- Data Engineering -->
            <div class="skill-card">
                <h3>Data Engineering</h3>
                    <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/apache_airflow.png" alt="Airflow"><span>Airflow</span></div>
                    <div class="tool"><img src="./assets/About/apache_spark.png" alt="PySpark"><span>PySpark</span></div>
                    <div class="tool"><img src="./assets/About/dbt.png" alt="dbt"><span>dbt</span></div>
                    <!-- <div class="tool"><img src="./assets/About/etl.png" alt="ETL Pipelines"><span>Pipelines</span></div> -->
                </div>
            </div>

            <!-- Data Storage -->
            <div class="skill-card">
                <h3>Data Storage</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/s3.png" alt="S3"><span>S3</span></div>
                    <div class="tool"><img src="./assets/About/mongodb.png" alt="MongoDB"><span>MongoDB</span></div>
                    <div class="tool"><img src="./assets/About/postgres.png" alt="PostgreSQL"><span>PostgreSQL</span></div>
                </div>
            </div>

            <!-- EDA & Stats -->
            <div class="skill-card">
                <h3>EDA & Stats</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/numpy.png" alt="NumPy"><span>NumPy</span></div>
                    <div class="tool"><img src="./assets/About/pandas.png" alt="Pandas"><span>Pandas</span></div>
                    <div class="tool"><img src="./assets/About/scipy.png" alt="SciPy"><span>SciPy</span></div>
                    <div class="tool"><img src="./assets/About/statsmodels.png" alt="Statsmodels"><span>Statsmodels</span></div>
                </div>
            </div>

            <!-- visualization -->
            <div class="skill-card visualization">
                <h3>Visualization & Reporting</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/matplotlib.png" alt="Matplotlib"><span>Matplotlib</span></div>
                    <div class="tool"><img src="./assets/About/dash.png" alt="Plotly"><span>Plotly</span></div>
                    <div class="tool"><img src="./assets/About/tableau.png" alt="Tableau"><span>Tableau</span></div>
                </div>
            </div>

            <!-- NLP -->
            <div class="skill-card">
                <h3>Natural Language Processing</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/nltk.png" alt="NLTK"><span>NLTK</span></div>
                    <div class="tool"><img src="./assets/About/spacy.png" alt="spaCy"><span>SpaCy</span></div>
                    <div class="tool"><img src="./assets/About/huggingface.png" alt="HuggingFace"><span>HuggingFace</span></div>
                </div>
            </div>

            <!-- Computer Vision (CV) -->
            <div class="skill-card">
                <h3>Computer Vision</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/opencv.png" alt="OpenCV"><span>OpenCV</span></div>
                    <div class="tool"><img src="./assets/About/yolo.png" alt="YoLo"><span>YoLo</span></div>
                </div>
            </div>

            <!-- Model Deployment -->
            <div class="skill-card">
                <h3>Model Development</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/python.png" alt="Python"><span>Python</span></div>
                    <div class="tool"><img src="./assets/About/scikit_learn.png" alt="scikit-learn"><span>scikit-learn</span></div>
                    <div class="tool"><img src="./assets/About/tensorflow.png" alt="TensorFlow"><span>TensorFlow</span></div>
                    <div class="tool"><img src="./assets/About/pytorch.png" alt="PyTorch"><span>PyTorch</span></div>
                    <div class="tool"><img src="./assets/About/optuna.png" alt="Optuna"><span>Optuna</span></div>
                </div>
            </div>

            <!-- MlOps -->
            <div class="skill-card">
                <h3>MLOps</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/mlflow.png" alt="MLflow"><span>MLflow</span></div>
                    <div class="tool"><img src="./assets/About/dvc.png" alt="DVC"><span>DVC</span></div>
                    <div class="tool"><img src="./assets/About/gitHub_actions.png" alt="GitHub Actions"><span>CI/CD</span></div>
                    <div class="tool"><img src="./assets/About/docker.png" alt="Docker"><span>Docker</span></div>
                    <div class="tool"><img src="./assets/About/kubernetes.png" alt="Kubernetes"><span>Kubernetes</span></div>
                </div>
            </div>

            <!-- Deplyment -->
            <div class="skill-card">
                <h3>Deployment</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/fastapi.png" alt="FastAPI"><span>FastAPI</span></div>
                    <div class="tool"><img src="./assets/About/flask.png" alt="Flask"><span>Flask</span></div>
                    <div class="tool"><img src="./assets/About/streamlit.png" alt="Streamlit"><span>Streamlit</span></div>
                </div>
            </div>

            <!-- Monitoring -->
            <div class="skill-card">
                <h3>Monitoring</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/prometheus.png" alt="Prometheus"><span>Prometheus</span></div>
                    <div class="tool"><img src="./assets/About/grafana.png" alt="Grafana"><span>Grafana</span></div>
                    <div class="tool"><img src="./assets/About/grafana-loki.png" alt="Loki"><span>Loki</span></div>
                    <div class="tool"><img src="./assets/About/evidently.png" alt="Evidently AI"><span>Evidently AI</span></div>
                </div>
            </div>

            <!-- Generative AI -->
            <div class="skill-card">
                <h3>Generative AI (Models)</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/gemini.png" alt="Gemini"><span>Gemini</span></div>
                    <div class="tool"><img src="./assets/About/open_ai.png" alt="OpenAI"><span>OpenAI</span></div>
                    <div class="tool"><img src="./assets/About/mistral_ai.png" alt="Mistral"><span>Mistral</span></div>
                    <div class="tool"><img src="./assets/About/llama2.png" alt="Llama"><span>Llama</span></div>
                </div>
            </div>

            <!-- Vector Databases -->
            <div class="skill-card">
                <h3>Vector Databases</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/faiss.png" alt="FAISS"><span>FAISS</span></div>
                    <div class="tool"><img src="./assets/About/pinecone.png" alt="Pinecone"><span>Pinecone</span></div>
                    <div class="tool"><img src="./assets/About/chroma.png" alt="ChromaDB"><span>ChromaDB</span></div>
                </div>
            </div>

            <!-- LLM Integration Tools -->
            <div class="skill-card">
                <h3>LLM Integration Tools</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/langchain.png" alt="Langchain"><span>Langchain</span></div>
                    <div class="tool"><img src="./assets/About/chainlit.png" alt="Chainlit"><span>Chainlit</span></div>
                </div>
            </div>

            <div class="skill-card cloud-infra">
                <h3>Cloud & Infrastructure / Middleware</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/aws.png" alt="AWS"><span>AWS</span></div>
                    <div class="tool"><img src="./assets/About/gcp_cloud.png" alt="GCP"><span>GCP</span></div>
                    <div class="tool"><img src="./assets/About/azure.png" alt="Azure"><span>Azure</span></div>
                    <div class="tool"><img src="./assets/About/rabbitmq.png" alt="RabbitMQ"><span>RabbitMQ</span></div>
                    <div class="tool"><img src="./assets/About/terraform.png" alt="Terraform"><span>Terraform</span></div>
                </div>
            </div>

            <div class="skill-card other-tools">
                <h3>Other Tools</h3>
                <div class="tools-grid">
                    <div class="tool"><img src="./assets/About/git.png" alt="Git"><span>Git</span></div>
                    <div class="tool"><img src="./assets/About/jupyter.png" alt="Jupyter"><span>Jupyter</span></div>
                    <div class="tool"><img src="./assets/About/vscode.png" alt="VsCode"><span>VsCode</span></div>
                    <div class="tool"><img src="./assets/About/pytest.png" alt="PyTest"><span>PyTest</span></div>
                    <div class="tool"><img src="./assets/About/mkdocs.png" alt="MkDocs"><span>MkDocs</span></div>
                    <div class="tool"><img src="./assets/About/draw.png" alt="Draw.io"><span>Draw.io</span></div>
                    <div class="tool"><img src="./assets/About/shell.png" alt="Shell"><span>Shell</span></div>
                </div>
            </div>

        </div>
