<div class="section__pic-container">
    <img src="./assets/profile-pic.png" alt="Rahul Shelke profile picture">
</div>

<div class="section__text">

    <p class="section__text__p1">Hello, I'm</p>
    <h1 class="title">Rahul Shelke</h1>

    <p class="section__text__p2">Full Stack Data Scientist</p>

    <p class="section__text__p3">
        I'm passionate about turning raw data into actionable insights and building scalable AI solutions that solve real-world problems.
    </p>

    <div class="home-btn-container">
        <button class="btn-1 download-btn-color download-cv-btn">Download CV</button>
        <button class="btn-1 contact-btn-color view-work-btn">View My Work</button>
    </div>

    <div id="socials-container">
        <img src="./assets/Contact/linkedin.png" alt="My LinkedIn profile" class="icon linkedin-link">
        <img src="./assets/Contact/github.png" alt="My Github profile" class="icon github-link">
    </div>

</div>

