/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 70vh; */
    height: 75vh;
  }
  
  .contact-info-upper-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .contact-info-container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    gap: 15px;
    min-width: 150px;
    transition: transform 0.3s;
  }
  
  .contact-info-container:hover {
    transform: translateY(-5px);
  }

  .contact-info-container p {
    font-size: larger;
  }
  
  .contact-icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }

  .email-icon {
    width: 28px;
  }
  
  .contact-info-container a {
  /* color: #007acc; */
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  word-break: break-word;
}
  
@media screen and (max-width: 600px) {
    .contact-info-container {
      justify-content: flex-start;
      text-align: left;
      flex: 1 1 100%;
    }
  }

.connect-text {
    margin-top: 35px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
