<!-- Completed Name and Menu  -->
<nav id="desktop-navbar-container">

    <div class="logo">Rahul Shelke</div>

    <div class="navbar">

        <ul class="nav-links">

            <li><a id="nav-profile-section" data-scroll="#profile">Home</a></li>
            <li><a id="nav-about-section" data-scroll="#about">About</a></li>
            <li><a id="nav-project-section" data-scroll="#project">Projects</a></li>

            <!-- Dropdown -->
            <li class="dropdown-parent">

                <button id="nav-more-button" class="dropdown-toggle">
                    More <span class="dropdown-arrow">&#9662;</span>
                </button>

                <ul class="dropdown">
                    <li><a id="nav-publish-section" data-scroll="#publication">Publications</a></li>
                    <li><a id="nav-certificate-section" data-scroll="#certificates">Certifications</a></li>
                    <li><a id="nav-blog-section" data-scroll="#blog">Blogs</a></li>
                </ul>
            </li>

            <li><a id="nav-contact-section" data-scroll="#contact">Contact</a></li>

        </ul>

    </div>

</nav>
