<div class="certifications-section">

    <!-- <h2 class="section-title">Certifications</h2> -->
    <p class="section__text__p1">My Recent</p>
    <h1 class="title">Certificates</h1>

    <div class="certifications-container">

        <!-- <div class="cert-card">
            <img src="./logo/aws-badge.png" alt="AWS Certification Logo">
            <div class="cert-info">
                <h3>Complete GenAI with Langchain & Huggingface 🤗</h3>
                <p>Udemy (by Krish Naik) — <span>2025</span></p>
                <a href="#" target="_blank">View Certificate</a>
            </div>
        </div> -->

        <div class="cert-card">
            <img src="./assets/Certificates/full-stack-data-scientist.png" alt="Course Certificate">
            <div class="cert-info">
                <h3>Full Stack Data Science Masters</h3>
                <p>iNeuron (by Krish Naik) — <span>2024</span></p>
                <a href="https://learn.ineuron.ai/certificate/7b414055-0b87-44a3-b8ee-bfc985095cbc"
                    target="_blank">View Certificate</a>
            </div>
        </div>

        <!-- <div class="cert-card">
            <img src="./logo/google-certificate.png" alt="Course Certificate">
            <div class="cert-info">
                <h3>Complete MLOps Bootcamp</h3>
                <p>Udemy (by Krish Naik) — <span>2025</span></p>
                <a href="#">View Certificate</a>
            </div>
        </div> -->

        <!-- <div class="cert-card">
            <img src="./logo/google-certificate.png" alt="Course Certificate">
            <div class="cert-info">
                <h3>Generative AI Mastery</h3>
                <p>Udemy (by Boktiar Ahmed Bappy) — <span>2025</span></p>
                <a href="#">View Certificate</a>
            </div>
        </div> -->

        <!-- <div class="cert-card">
            <img src="./logo/google-certificate.png" alt="Course Certificate">
            <div class="cert-info">
                <h3>Python Data Science: Data Prep & EDA</h3>
                <p>Udemy (by Maven Analytics) — <span>2025</span></p>
                <a href="#">View Certificate</a>
            </div>
        </div> -->

        <!-- <div class="cert-card">
            <img src="./logo/google-certificate.png" alt="Course Certificate">
            <div class="cert-info">
                <h3>Complete Python With DSA Bootcamp</h3>
                <p>Udemy (by by Krish Naik) — <span>2025</span></p>
                <a href="#">View Certificate</a>
            </div>
        </div> -->
    </div>
</div>

